// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Roboto:wght@300;400&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Domine', serif;
}

.wrapper, body {
	background-color: $gray;
	padding: 0;
}


.container {
	background-color: #fff;
	padding: 50px 80px;
}


//header 

.logo {
	display: block;
	margin: 0 auto;
}

.nav-container {
	padding: 0;
}

#wrapper-navbar {
	background-color: $gold;
}

#navbarNavDropdown, .nav-container {
	background-color: $gold;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.show .navbar-nav .nav-link {
	border-bottom: 1px solid #000;
	padding: 5px;
	margin: 10px 0;
	text-align: center;
}

//single lesson *************************
.header-focus ul {
	margin: 20px 0 20px 0;
	padding: 0;
}

.header-focus li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 30px 10px 30px;
  // clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);
  background-color: $gold;
  font-size: .9em;
  border-radius: 24px;
  position: relative;
  margin-bottom: 7px;
}

.header-focus li:before {
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 15px;
	top: 15px;
} 

.header-focus li:after {
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	top: 15px;
} 

.header-focus li.li-focus {
	display: block;
	width: 100%;
	background-color: #fff;
	margin: 10px 0 0 0;
	font-size: .8em;
	padding: 0;
	clip-path: none;
	text-transform: uppercase;
	font-weight: 100;
}

.header-focus li.li-focus:before, .header-focus li.li-focus:after {
	display: none;
}

.no-pad {
	padding: 0;
}

.header-box {
	width: 48%;
	display: inline-block;
	margin: 30px auto 0 auto;
	text-align: center;	
}

.header-box:first-of-type{
	border-right: 2px solid #efefef;
}

.big-number {
	font-weight: 700;
	font-size: 5em;
	color: $gray;
	line-height: 1;	
}

.theme-box {
	margin: 30px 0;
    border-top: 2px solid #efefef;
}

#single-lesson-wrapper h2 {
	border-bottom: 2px solid #efefef;
}

.holder {
	margin: 20px 0 40px 0;
}

.total-time {
	font-size: 1.2em;
}

.lesson-thumb {
	border-radius: 10px;
}

//facet search land
.facet-lesson-info {
	padding: 20px;
	border: 1px solid #efefef;
	height: 300px;
	border-radius: 10px;
}

.facet-lesson-info h2 {
	font-size: 1.2em;
	margin-top: 15px;
}

.facet-box h4 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 24px;
  // clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);
  background-color: $gold;
  width: 100%;
  font-size: 1.1em;
  position: relative;
  text-align: center;
}

.facet-box h4:before {
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 15px;
	top: 15px;
} 

.facet-box h4:after {
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	top: 15px;
} 


.facet-lesson-info {
	margin-bottom: 30px;
}

.text-search input {
	width: 100%;
}

#content .facetwp-checkbox {
	background-size: 18px 18px;
	padding: 5px 5px 10px 25px;
	line-height: 1.1;
    margin-bottom: 5px;
}

#content .facetwp-checkbox:hover{
	background-color: #efefef;
}

#content .facetwp-checkbox.checked{
	background-color: #efefef;
}

//footer
#wrapper-footer {
	background-color: #000;
	padding-top: 80px;
	color: #fff;
}

#wrapper-footer .container {
	background-color: #000;
	padding: 50px 10px;
}

#wrapper-footer .container a{
	color: $gold;
}

#wrapper-footer a, caption {
	color: #fff;
}